<div class="container">

    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Detalle de autor</h2>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Nombre:</b> &nbsp;&nbsp;<span>{{datosAutor.nombre}}</span></li>
                    <li class="list-group-item"><b>Nacionalidad:</b> &nbsp;&nbsp;<span>{{datosAutor.nacionalidad}}</span></li>
                    <li class="list-group-item"><b>Fecha de nacimiento:</b> &nbsp;&nbsp;<span>{{datosAutor.fechaNacimiento}}</span></li>
                    <li class="list-group-item"><b>Genero:</b> &nbsp;&nbsp;<span>{{datosAutor.genero}}</span></li>
                </ul>
            </div>
            <br class="m-5"><br>
        </div>
    </div>
</div>