<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Alta de autores</h2>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" class="form-control" #caja1>
            </div>
            <br>
            <div class="form-group">
                <label for="">Nacionalidad</label>
                <input type="text" class="form-control" #caja2>
            </div>
            <br> 
            <div class="form-group">
                <label for="">Fecha de nacimiento</label>
                <input type="text" class="form-control" #caja3>
            </div>
            <br>
            <div class="form-group">
                <label for="">Genero</label>
                <input type="text" class="form-control" #caja4>
            </div>
            <br>
            <br> 
            <div class="form-group">
                <button (click)="guardarDatos()" class="btn btn-success">Guardar</button>
            </div>
            <br> 
        </div>
    </div>
</div>